app/__pycache__/config.cpython-311.pyc
app/api/__pycache__/chat.cpython-311.pyc
app/api/__pycache__/__init__.cpython-311.pyc
app/api/__pycache__/lesson.cpython-311.pyc
app/api/__pycache__/project.cpython-311.pyc
app/api/__pycache__/question.cpython-311.pyc
app/api/__pycache__/voice.cpython-311.pyc
